{% extends 'base.html' %}
{% load static %}

{% block custom_link %}
<link rel="stylesheet" href="{% static 'owl/owlcarousel/assets/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'owl/owlcarousel/assets/owl.theme.default.min.css' %}">
{% endblock %}

{% block content %}
  <h1 class="h3 mb-4 text-gray-800">Работа с документами</h1>
  <p class="mb-4">...</p>
        <!-- Content Row -->
        <div class="row">
          <div class="col-xl-12">
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Текущие документы</h6>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-4">
                    <div class="text-gray-100 pt-3 pl-3 pr-3 pb-2 mb-3" style="background:#FF3D3D; ">
                      <h5>Документы на&nbsp;обработку</h5>
                    </div>
                    <div class="bg-gray-100 pt-3 pl-3 pr-3 pb-2 mb-3" style="background:#FF3D3D; ">
                      <div class="row">
                        <div class="col-xl-2 col-lg-12 col-md-12"><img width="40" height="40" src="img/e-icon-i-flag.svg" alt="" /></div>
                        <div class="col-xl-10">
                          <p class="text-xs text-gray-700">Госпрограммы</p>
                          <h6><strong>Проект паспорта госпрограммы</strong></h6>
                        </div>
                      </div>
                      <div class="clearfix"></div>
					  <p class="text-xs ">Координаторы госпрограмм формируют проекты госпрограммы, которые одновременно с законопроектом направляются в Московскую городскую Думу. </p>
                    </div>
					<div class="bg-gray-100 pt-3 pl-3 pr-3 pb-2 mb-3" style="background:#FF3D3D; ">
                      <div class="row">
                        <div class="col-xl-2 col-lg-12 col-md-12"><img width="40" height="40" src="img/e-icon-iii-flag.svg" alt="" /></div>
                        <div class="col-xl-10">
                          <p class="text-xs text-gray-700">Государственные задания</p>
                          <h6><strong>Проект плана ФХД</strong></h6>
                        </div>
                      </div>
                      <div class="clearfix"></div>
						<p class="text-xs ">План финансово-хозяйственной деятельности учреждения формируется в месячный срок после утверждения закона о бюджете на основании утвержденного государтсвенного задания. </p>
                    </div>
                  </div>
                  <div class="col-xl-4">
                    <div class="text-gray-100 pt-3 pl-3 pr-3 pb-2 mb-3" style="background:#FF9529; ">
                      <h5>Документы в&nbsp;работе</h5>
                    </div>
                    <div class="bg-gray-100 pt-3 pl-3 pr-3 pb-2 mb-3" style="background:#FF3D3D; ">
                      <div class="row">
                        <div class="col-xl-2 col-lg-12 col-md-12"><img width="40" height="40" src="img/e-icon-ii-gear.svg" alt="" /></div>
                        <div class="col-xl-10">
                          <p class="text-xs text-gray-700">Бюджетная роспись</p>
                          <h6><strong>Бюджетная роспись</strong></h6>
                        </div>
                      </div>
                      <div class="clearfix"></div>
					  <p class="text-xs ">Главные распорядители бюджетных средств формируют бюджетную роспись на основе доведенной Департаментом финансов до них сводной бюджетной росписи. </p>
                    </div>
					<div class="bg-gray-100 pt-3 pl-3 pr-3 pb-2 mb-3" style="background:#FF3D3D; ">
                      <div class="row">
                        <div class="col-xl-2 col-lg-12 col-md-12"><img width="40" height="40" src="img/e-icon-iv-gear.svg" alt="" /></div>
                        <div class="col-xl-10">
                          <p class="text-xs text-gray-700">Государственное задание</p>
                          <h6><strong>Отчет о выполнении государственного задания</strong></h6>
                        </div>
                      </div>
                      <div class="clearfix"></div>
					  <p class="text-xs ">Подведомственные учреждения формируют отчеты о выполнении государственных заданий в соответствии с установленными соглашением сроками. </p>
                    </div>
                    </div>
                  <div class="col-xl-4">
                    <div class="text-gray-100 pt-3 pl-3 pr-3 pb-2 mb-3" style="background:#42F060; ">
                      <h5>Завершено</h5>
                    </div>
                    <div class="bg-gray-100 pt-3 pl-3 pr-3 pb-2 mb-3" style="background:#FF3D3D; ">
                      <div class="row">
                        <div class="col-xl-2 col-lg-12 col-md-12"><img width="40" height="40" src="img/e-icon-i-check.svg" alt="" /></div>
                        <div class="col-xl-10">
                          <p class="text-xs text-gray-700">Проект закона</p>
                          <h6><strong>Возвратное распределение</strong></h6>
                        </div>
                      </div>
                      <div class="clearfix"></div>
					  <p class="text-xs ">Главные распорядители бюджетных средств формируют до 10 июля возвратное распределение и направляют в Департамент финансов. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-8 col-lg-7">
            <div class="wrapper">
              <div class="item title brtr brtl"> Интерактивный календарь:&nbsp;<span class="text-gray-900"> этапы бюджетного процесса в 2019 году</span> </div>
              <div class="viewport">
                <div class="owl-carousel">
                  <div class="block sec">
                    <div class="item">
                      <div class="month upper ">янв</div>
                      <div class="month upper">фев</div>
                      <div class="month upper">мар</div>
                      <div class="month upper">апр</div>
                      <div class="month upper">май</div>
                      <div class="month upper">июн</div>
                      <div class="month upper">июл</div>
                      <div class="month upper">авг</div>
                      <div class="month upper">сен</div>
                      <div class="month upper">окт</div>
                      <div class="month upper">ноя</div>
                      <div class="month upper">дек</div>
                    </div>
                    <div class="item stage">I. Составление проекта бюджета <span>2020-2022</span></div>
                    <div class="item first">
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                    </div>
                    <div class="item stage">II. Рассмотрение и утверждение бюджета <span>2020-2022</span></div>
                    <div class="item second">
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month active"></div>
                      <div class="month active"> </div>
                      <div class="month active"></div>
                    </div>
                    <div class="item stage">III. Исполнение бюджета <span>2018</span></div>
                    <div class="item third">
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                    </div>
                    <div class="item stage">IV. Подготовка и утверждение годового отчета об исполнении бюджета <span>2017</span></div>
                    <div class="item fourth">
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                    </div>
                    <div class="item stage">V. Финансовый контроль <span>2018</span></div>
                    <div class="item fifth">
                      <div class="month active brbl"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month brbr"></div>
                    </div>
                  </div>
                  <div class="block sec">
                    <div class="item">
                      <div class="month upper ">янв</div>
                      <div class="month upper">фев</div>
                      <div class="month upper">мар</div>
                      <div class="month upper">апр</div>
                      <div class="month upper">май</div>
                      <div class="month upper">июн</div>
                      <div class="month upper">июл</div>
                      <div class="month upper">авг</div>
                      <div class="month upper">сен</div>
                      <div class="month upper">окт</div>
                      <div class="month upper">ноя</div>
                      <div class="month upper">дек</div>
                    </div>
                    <div class="item stage">I. Составление проекта бюджета <span>2020-2022</span></div>
                    <div class="item first">
                      <div class="month active"></div>
                      <div class="month active flag">
                        <div class="message">2</div>
                        <div class="info">
                          <div class="info-stage">Февраль 2019 • Этап I</div>
                          <div class="info-list">
                            <ul>
                              <li>Исполнение бюджета организуется на основе сводной бюджетной росписи и кассового плана. <br>
                                <a href="#" class="btn btn-primary btn-sm my-2"> <span class="text">Подробнее</span> </a> </li>
                            </ul>
                          </div>
                          <div class="info-list">
                            <ul>
                              <li>Бюджет исполняется по доходам, расходам и источникам финансирования дефицита бюджета на основе принципов единства кассы и подведомственности расходов.</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                    </div>
                    <div class="item stage">II. Рассмотрение и утверждение бюджета <span>2020-2022</span></div>
                    <div class="item second">
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month active"></div>
                      <div class="month active flag">
                        <div class="message">10</div>
                        <div class="info">
                          <div class="info-stage">ноябрь 2019 • Этап II</div>
                          <div class="info-list">
                            <ul>
                              <li>По итогам текущего финансового года составляется бюджетная отчетность об исполнении бюджета, направляемая для проверки в органы финансового контроля.</li>
                              <li>Бюджетная отчетность направляется на рассмотрение и утверждение в законодательные и представительные органы.</li>
                            </ul>
                          </div>
                          <div class="info-list">
                            <ul>
                              <li>Составляется прогноз социально-экономического развития города, определяются основные характеристики бюджета на очередной финансовый год и плановый период. <br>
                                <a href="#" class="btn btn-primary btn-sm my-2"> <span class="text">Подробнее</span> </a> </li>
                              <li>Распределение бюджетных ассигнований. <br>
                                <a href="#" class="btn btn-primary btn-sm my-2"> <span class="text">Подробнее</span> </a> </li>
                            </ul>
                          </div>
                          <div class="info-list">
                            <ul>
                              <li>Исполнение бюджета организуется на основе сводной бюджетной росписи и кассового плана. </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="month active"></div>
                    </div>
                    <div class="item stage">III. Исполнение бюджета <span>2019</span></div>
                    <div class="item third">
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                    </div>
                    <div class="item stage">IV. Подготовка и утверждение годового отчета об исполнении бюджета <span>2018</span></div>
                    <div class="item fourth">
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                    </div>
                    <div class="item stage">V. Финансовый контроль <span>2019</span></div>
                    <div class="item fifth">
                      <div class="month active brbl"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month brbr"></div>
                    </div>
                  </div>
                  <div class="block sec">
                    <div class="item">
                      <div class="month upper ">янв</div>
                      <div class="month upper">фев</div>
                      <div class="month upper">мар</div>
                      <div class="month upper">апр</div>
                      <div class="month upper">май</div>
                      <div class="month upper">июн</div>
                      <div class="month upper">июл</div>
                      <div class="month upper">авг</div>
                      <div class="month upper">сен</div>
                      <div class="month upper">окт</div>
                      <div class="month upper">ноя</div>
                      <div class="month upper">дек</div>
                    </div>
                    <div class="item stage">I. Составление проекта бюджета <span>2021-2023</span></div>
                    <div class="item first">
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                    </div>
                    <div class="item stage">II. Рассмотрение и утверждение бюджета <span>2021-2023</span></div>
                    <div class="item second">
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month active"></div>
                      <div class="month active flag">
                        <div class="info">
                          <div class="info-stage">ноябрь 2019 ЭТАП II</div>
                          <div class="info-list">
                            <ul>
                              <li>Подготовленный проект бюджета рассматривается в Московской городской Думе.</li>
                              <li><a href="#" class="btn btn-primary btn-icon-split btn-sm"> <span class="icon text-white-50"> <i class="fas fa-flag"></i> </span> <span class="text">Подробнее</span> </a></li>
                            </ul>
                          </div>
                          <div class="info-list">
                            <ul>
                              <li>Составляется бюджетная отчетность об исполнении бюджета, направляемая для проверки в органы финансового контроля, а затем на рассмотрение и утверждение в законодательные и представительные органы.</li>
                              <li><a href="#">Интерактивная ссылка.</a></li>
                            </ul>
                          </div>
                          <div class="info-list ">
                            <ul>
                              <li>По итогам текущего финансового года составляется бюджетная отчетность об исполнении бюджета, направляемая для проверки в органы финансового контроля, а затем на рассмотрение и утверждение в законодательные и представительные органы.</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="month active"></div>
                    </div>
                    <div class="item stage">III. Исполнение бюджета <span>2020</span></div>
                    <div class="item third">
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                    </div>
                    <div class="item stage">IV. Подготовка и утверждение годового отчета об исполнении бюджета <span>2019</span></div>
                    <div class="item fourth">
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                    </div>
                    <div class="item stage">V. Финансовый контроль <span>2020</span></div>
                    <div class="item fifth">
                      <div class="month active brbl"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month active"></div>
                      <div class="month"></div>
                      <div class="month"></div>
                      <div class="month brbr"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          <!-- Donut Chart -->
          <div class="col-xl-4 col-lg-5">
            <div class=" mb-4">
              <div class="datepicker-here"></div>
            </div>
            <div class="card shadow mb-4"> <!-- Card Header - Dropdown -->
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Статус утверждения планов ФХД</h6>
              </div>
              <!-- Card Body -->
              <div class="card-body">
                <div class="chart-pie pt-4">
                  <canvas id="myPieChart"></canvas>
                </div>
                <hr>
                Учредитель может просматривать сводную информацию по статусам документов подведомственных учреждений </div>
            </div>
          </div>
        </div>
  <script src="{% static 'owl/owlcarousel/owl.carousel.min.js' %}"></script> 
<script> 
 document.addEventListener('DOMContentLoaded', function () { 
   const flag = document.querySelectorAll('.month.active.flag'); 
   const popup = document.querySelector('.popup'); const arr = ['2018','2019','2020']; 
   $('.owl-carousel').owlCarousel({ items:1, margin: 3, dots: true, startPosition: 1 }); 
   const dots = document.querySelectorAll('.owl-dot'); 
   for(let i=0; i<dots.length; i++){ dots[i].children[0].textContent = arr[i]; } 
   flag.forEach( el => el.addEventListener('click', function () { 
     const text =this.children[this.children.length-1], 
     clone = text.cloneNode(true), 
     wrapper = document.querySelector('.wrapper'), 
     popupDiv = document.createElement('div'), 
     close = document.createElement('div'),
    afterDot = document.querySelector('.viewport');
     clone.classList.remove('info'); 
     popupDiv.className = "popup"; 
     close.className = "close-popup"; 

     popupDiv.insertAdjacentElement('afterbegin', close); 

     afterDot.insertAdjacentElement('afterend', popupDiv); 
     
     popupDiv.appendChild(clone); 
     close.addEventListener('click', el => close.parentNode.remove() );
      })); }); 
      </script> 
<!-- Page level plugins --> 
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script> <!-- Page level custom scripts --> 
<script src="{% static 'js/demo/chart-pie-demo.js' %}"></script> 
  {% endblock %}
  