{% extends 'base.html' %}
{% load static %}

{% block custom_link %}
  <link rel="stylesheet" href="{% static 'sqqtpt/css/style.css' %}" media="screen" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="{% static 'sqqtpt/js/jquery.timelinr-0.9.7.js' %}"></script>
  <script>
    $(function(){
      $().timelinr({
        arrowKeys: 'true'
      })
    });
  </script>
{% endblock %}


{% block content %}
  <h1 class="h3 mb-4 text-gray-800">Утверждение плана ФХД | Роль: куратор учреждения</h1>
<p>Куратор учреждения видит сводную информацию по всем подведомственным учреждениям по выполнению каждого мероприятия бюджетного процесса, в каком статусе находятся документы, а также осуществлять детализацию до перечня учреждений.</p>

  <div id="timeline">
    <ul id="dates">
      <li><a href="#Создание">Создание</a></li>
      <li><a href="#Подписание">Подписание</a></li>
      <li><a href="#Согласование">Согласование</a></li>
      <li><a href="#Утверждение">Утверждение</a></li>
    </ul>
    <ul id="issues">
      <li id="Создание">
        <img src="{% static 'sqqtpt/images/1.png' %}" width="256" height="256" />
        <h1>Создание плана ФХД</h1>
        <p>В связи с принятием закона о бюджете всем учреждениям необходимо сформировать планы финансово-хозяйственной деятельности в ПИВ АСУ ГФ. В настоящее время сформировано 125 из 213 планов финансово-хозяйственной деятельности. Посмотреть перечень сформированных планов финансово-хозяйственной деятельности, а также перечень учреждений, по которым не сформированы планы, можно посмотреть по ссылке.<br><br>
        Требования к формирования плана финансово-хозяйственной деятельности установлены Приказом Департамента образования города Москвы от 3 июля 2017 года № 436.</p>
      </li>
      <li id="Подписание">
        <img src="{% static 'sqqtpt/images/2.png' %}" width="256" height="256" />
        <h1>Подписание плана ФХД</h1>
        <p>На подписании у руководителей учреждений находится 50 планов финансово-хозяйственной деятельности, подписано 75 планов из 213 планов. Посмотреть перечень подписанных планов, а также находящихся на подписании у руководителей учреждений можно перейдя по ссылке.</p>
      </li>
      <li id="Согласование">
        <img src="{% static 'sqqtpt/images/3.png' %}" width="256" height="256" />
        <h1>Согласование плана ФХД</h1>
        <p>У Вас на согласовании находится 25 планов финансово-хозяйственной деятельности, 50 планов согласовано. Перейдите по ссылке, чтобы согласовать еще не рассмотренные планы финансово-хозяйственной деятельности.</p>
      </li>
      <li id="Утверждение">
        <img src="{% static 'sqqtpt/images/4.png' %}" width="256" height="256" />
        <h1>Утверждение плана ФХД</h1>
        <p>Планы финансово-хозяйственной деятельности будут утверждены после его согласования.</p>
      </li>
    </ul>
    <div id="grad_left"></div>
    <div id="grad_right"></div>
    <a href="#" id="next">+</a>
    <a href="#" id="prev">-</a>
  </div>
{% endblock %}

{% block core_scripts %}{% endblock %}