{% extends 'base.html' %}
{% load static %}

{% block custom_link %}
  <link rel="stylesheet" href="{% static 'sqqtpt/css/style.css' %}" media="screen" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="{% static 'sqqtpt/js/jquery.timelinr-0.9.7.js' %}"></script>
  <script>
    $(function(){
      $().timelinr({
        arrowKeys: 'true'
      })
    });
  </script>
{% endblock %}

{% block content %}
  <h1 class="h3 mb-4 text-gray-800">Утверждение плана ФХД | Роль: сотрудник учреждения</h1>
  <p>Сотрудник учреждения формирует проекты документов в соответствии с моделью ролей, которые потом направляет на подписание своему руководителю. Также он отслеживает статусы своих документов.</p>
  <div id="timeline">
    <ul id="dates">
      <li><a href="#Создание">Создание</a></li>
      <li><a href="#Подписание">Подписание</a></li>
      <li><a href="#Согласование">Согласование</a></li>
      <li><a href="#Утверждение">Утверждение</a></li>
    </ul>
    <ul id="issues">
      <li id="Создание">
        <img src="{% static 'sqqtpt/images/1.png' %}" width="256" height="256" />
        <h1>Создание плана ФХД</h1>
        <p>В связи с принятием закона о бюджете всем учреждениям необходимо сформировать планы финансово-хозяйственной деятельности в ПИВ АСУ ГФ. В настоящее время данный документ еще не создан, поэтому просим Вас перейти по ссылке для его формирования и направления на подписание руководителю учреждения. Обращаем внимание, что данный документ должен быть утвержден в течение одного месяца после опубликования закона о бюджете, то есть до 29 декабря 2019 года.<br><br>
        Требования к формирования плана финансово-хозяйственной деятельности установлены Приказом Департамента образования города Москвы от 3 июля 2017 года № 436.</p>
      </li>
      <li id="Подписание">
        <img src="{% static 'sqqtpt/images/2.png' %}" width="256" height="256" />
        <h1>Подписание плана ФХД</h1>
        <p>После формирования плана формирования финансово-хозяйственной деятельности руководителю необходимо его подписать в ПИВ АСУ ГФ и направить на согласование и утверждение учредителю (Департамент образования города Москвы).</p>
      </li>
      <li id="Согласование">
        <img src="{% static 'sqqtpt/images/3.png' %}" width="256" height="256" />
        <h1>Согласование плана ФХД</h1>
        <p>После согласования плана финансово-хозяйственной деятельности документ будет автоматически направлен на утверждение учредителем (Департамент образования города Москвы).</p>
      </li>
      <li id="Утверждение">
        <img src="{% static 'sqqtpt/images/4.png' %}" width="256" height="256" />
        <h1>Утверждение плана ФХД</h1>
        <p>План финансово-хозяйственной деятельности будет утвержден после его согласования.</p>
      </li>
    </ul>
    <div id="grad_left"></div>
    <div id="grad_right"></div>
    <a href="#" id="next">+</a>
    <a href="#" id="prev">-</a>
  </div>
{% endblock %}
{% block core_scripts %}{% endblock %}