{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  {% block meta %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  {% endblock %}

  <title>{% block title %}МосБюджет{% endblock %}</title>

  {% block links %}
  <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fonts/stylesheet.css' %}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
  {% endblock %}

  {% block custom_link %}{% endblock %}
</head>
<body>

<!-- Page Wrapper -->
<div id="wrapper"> 
  
  {% block sidebar %}
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    
    <!-- Sidebar - Brand --> 
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="budget_emblem-w"> <img src="{% static 'img/budget_emblem-w.svg' %}" width="40px" height="40px" alt="" /> </div>
    <div class="sidebar-brand-text mx-3">МосБюджет
      <div class="a_platform">ПЕРСОНАЛЬНЫЙ НАВИГАТОР ПО&nbsp;БЮДЖЕТНЫМ ПРОЦЕССАМ</div>
    </div>
    </a> 
    
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    
    <!-- Nav Item - About -->
    <li class="nav-item"> <a class="nav-link" href="about"> <i class="fas fa-fw fa-star"></i> <span>О проекте</span></a> </li>
    
    <!-- Divider -->
    <hr class="sidebar-divider">
    
    <!-- Heading -->
    <div class="sidebar-heading"> Этапы </div>
    

    <!-- Nav Item -->
    <li class="nav-item"> <a class="nav-link" href="budget-design"> <i class="fas fa-fw fa-chart-pie"></i> <span>Проектирование бюджета</span></a> </li>
    <!-- Nav Item -->
    <li class="nav-item"> <a class="nav-link" href="budget-execution"> <i class="fas fa-fw fa-check-circle"></i> <span>Исполнение бюджета</span></a> </li>
    <!-- Nav Item -->
    <li class="nav-item"> <a class="nav-link" href="budget-reporting"> <i class="fas fa-fw fa-file-export"></i> <span>Отчетность</span></a> </li>
    <!-- Nav Item -->
    <li class="nav-item"> <a class="nav-link" href="budget-control"> <i class="fas fa-fw fa-balance-scale"></i> <span>Контроль</span></a> </li>
    <!-- Nav Item - Pages Collapse Menu --> 
    
    <!-- Divider -->
    <hr class="sidebar-divider">
    
    <!-- Heading -->
    <div class="sidebar-heading"> Документы </div>
    
    <!-- Nav Item -->
    <li class="nav-item"> <a class="nav-link" href="government-programs"> <i class="fas fa-fw fa-map"></i> <span>Госпрограммы</span></a> </li>
    
    <!-- Nav Item -->
    <li class="nav-item"> <a class="nav-link" href="regional-projects"> <i class="fas fa-fw fa-map-marked-alt"></i> <span>Региональные проекты</span></a> </li>
    
    <!-- Nav Item -->
    <li class="nav-item"> <a class="nav-link" href="state-task"> <i class="fas fa-fw fa-landmark"></i> <span>Государственное задание</span></a> </li>
    
    <!-- Nav Item -->
    <li class="nav-item"> <a class="nav-link" href="agreements"> <i class="fas fa-fw fa-file-archive"></i> <span>Соглашения</span></a> </li>
    
    <!-- Nav Item -->
    <li class="nav-item"> <a class="nav-link" href="contracts"> <i class="fas fa-fw fa-file-alt"></i> <span>Договоры</span></a> </li>
    
    <!-- Nav Item -->
    <li class="nav-item"> <a class="nav-link" href="budget-limit"> <i class="fas fa-fw fa-cheese"></i> <span>Бюджетная роспись</span></a> </li>
    
    <!-- Nav Item -->
    <li class="nav-item"> <a class="nav-link" href="cash-plan"> <i class="fas fa-fw fa-calculator"></i> <span>Кассовый план</span></a> </li>
    
    <!-- Divider -->
    <hr class="sidebar-divider">
    
    <!-- Heading -->
    <div class="sidebar-heading"> Аналитика </div>
    <!-- Nav Item - Dashboard -->
    <li class="nav-item"> <a class="nav-link" href="http://metabase.mosbudget.ru/dashboard/2"> <i class="fas fa-fw fa-tachometer-alt"></i> <span>Дашборд для руководителя</span></a> </li>
    
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item"> <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages"> <i class="fas fa-fw fa-folder"></i> <span>Нормативная база</span> </a>
      <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded"> <a class="collapse-item" href="doc">Государственные <br>
          программы </a> <a class="collapse-item" href="doc">Региональные проекты </a> <a class="collapse-item" href="doc">Государственное задание</a> <a class="collapse-item" href="doc">Кассовый план</a>
          <div class="collapse-divider"></div>
          <a class="collapse-item" href="doc">Соглашения</a> <a class="collapse-item" href="doc">Договоры</a> <a class="collapse-item" href="rospis">Бюджетная роспись</a> </div>
      </div>
    </li>
    
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    
    <!-- Nav Item -->
    <li class="nav-item"> <a class="nav-link" href="glossary"> <i class="fas fa-fw fa-book"></i> <span>Глоссарий</span></a> </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item"> <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"> <i class="fas fa-fw fa-folder"></i> <span>Примеры виджетов</span> </a>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded"> 
		<a class="collapse-item" href="/grbs-kur">Утверждение плана ФХД: <br>куратор учреждения</a> 
		<a class="collapse-item" href="/grbs-ruk">Утверждение плана ФХД: <br>руководитель ведомства</a> 
		<a class="collapse-item" href="/pbs-buh">Утверждение плана ФХД: <br>сотрудник учреждения</a> 
		<a class="collapse-item" href="/pbs-ruk">Утверждение плана ФХД: <br>руководитель учреждения</a> 
          <div class="collapse-divider"></div>
		  
          </div>
      </div>
    </li>

    
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
  </ul>
  {% endblock %}
  
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column"> 
    
    <!-- Main Content -->
    <div id="content"> 
      
      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"> 
        
        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3"> <i class="fa fa-bars"></i> </button>
        
        <!-- Topbar Search -->
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
          <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Поиск" aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button"> <i class="fas fa-search fa-sm"></i> </button>
            </div>
          </div>
        </form>
        
        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
          
          <!-- Nav Item - Search Dropdown (Visible Only XS) -->
          <li class="nav-item dropdown no-arrow d-sm-none"> <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-search fa-fw"></i> </a> 
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
              <form class="form-inline mr-auto w-100 navbar-search">
                <div class="input-group">
                  <input type="text" class="form-control bg-light border-0 small" placeholder="Поиск" aria-label="Search" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button"> <i class="fas fa-search fa-sm"></i> </button>
                  </div>
                </div>
              </form>
            </div>
          </li>
          
          <!-- Nav Item - Alerts -->
          <li class="nav-item dropdown no-arrow mx-1"> <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-bell fa-fw"></i> 
            <!-- Counter - Alerts --> 
            <span class="badge badge-danger badge-counter">3+</span> </a> 
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
              <h6 class="dropdown-header"> Уведомления </h6>
              <a class="dropdown-item d-flex align-items-center" href="#">
              <div class="mr-3">
                <div class="icon-circle bg-primary"> <i class="fas fa-file-alt text-white"></i> </div>
              </div>
              <div>
                <div class="small text-gray-500">12 декабря 2019</div>
                <span class="font-weight-bold">Сформировать показатели по налогам на доходы физических лиц</span> </div>
              </a> <a class="dropdown-item d-flex align-items-center" href="#">
              <div class="mr-3">
                <div class="icon-circle bg-success"> <i class="fas fa-chart-bar text-white"></i> </div>
              </div>
              <div>
                <div class="small text-gray-500">7 декабря 2019</div>
                Сформировать показатели по налогам на прибыль организаций </div>
              </a> <a class="dropdown-item d-flex align-items-center" href="#">
              <div class="mr-3">
                <div class="icon-circle bg-warning"> <i class="fas fa-exclamation-triangle text-white"></i> </div>
              </div>
              <div>
                <div class="small text-gray-500">2 декабря 2019</div>
                Представить отчетность по крупнейшим администраторам налоговых доходов </div>
              </a> <a class="dropdown-item text-center small text-gray-500" href="#">Показать все уведомления</a> </div>
          </li>
          
          <!-- Nav Item - Alerts -->
          <li class="nav-item dropdown no-arrow mx-1"> <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-flag fa-fw"></i> 
            <!-- Counter - Alerts --> 
            <span class="badge badge-danger badge-counter">5</span> </a> 
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
              <h6 class="dropdown-header"> События </h6>
              <a class="dropdown-item d-flex align-items-center" href="#">
              <div class="mr-3">
                <div class="icon-circle bg-primary"> <i class="fas fa-file-alt text-white"></i> </div>
              </div>
              <div>
                <div class="small text-gray-500">12 декабря 2019</div>
                <span class="font-weight-bold">Бюджет исполняется по доходам, расходам и источникам финансирования дефицита бюджета на основе принципов единства кассы и подведомственности расходов. </span> </div>
              </a> <a class="dropdown-item d-flex align-items-center" href="#">
              <div class="mr-3">
                <div class="icon-circle bg-success"> <i class="fas fa-chart-bar text-white"></i> </div>
              </div>
              <div>
                <div class="small text-gray-500">7 декабря 2019</div>
                Проект бюджета утверждается и направляется на подпись Мэру Москвы. </div>
              </a> <a class="dropdown-item d-flex align-items-center" href="#">
              <div class="mr-3">
                <div class="icon-circle bg-warning"> <i class="fas fa-exclamation-triangle text-white"></i> </div>
              </div>
              <div>
                <div class="small text-gray-500">2 декабря 2019</div>
                Подготовленный проект бюджета рассматривается в Московской городской Думе. </div>
              </a> <a class="dropdown-item text-center small text-gray-500" href="#">Показать все события</a> </div>
          </li>
          
          <!-- Nav Item - Messages -->
          <li class="nav-item dropdown no-arrow mx-1"> <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-envelope fa-fw"></i> 
            <!-- Counter - Messages --> 
            <span class="badge badge-danger badge-counter">7</span> </a> 
            <!-- Dropdown - Messages -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
              <h6 class="dropdown-header"> Сообщения </h6>
              <a class="dropdown-item d-flex align-items-center" href="#">
              <div class="dropdown-list-image mr-3"> <img class="rounded-circle" src="{% static 'img/avatar.png' %}" alt="">
                <div class="status-indicator bg-success"></div>
              </div>
              <div class="font-weight-bold">
                <div class="text-truncate">Начало сообщения Начало сообщения</div>
                <div class="small text-gray-500">Александр Александров · 58 мин.</div>
              </div>
              </a> <a class="dropdown-item d-flex align-items-center" href="#">
              <div class="dropdown-list-image mr-3"> <img class="rounded-circle" src="{% static 'img/avatar1.png' %}" alt="">
                <div class="status-indicator"></div>
              </div>
              <div>
                <div class="text-truncate">Начало сообщения Начало сообщения</div>
                <div class="small text-gray-500">Николай Николаев · 1 день</div>
              </div>
              </a> <a class="dropdown-item d-flex align-items-center" href="#">
              <div class="dropdown-list-image mr-3"> <img class="rounded-circle" src="{% static 'img/avatar2.png' %}" alt="">
                <div class="status-indicator bg-warning"></div>
              </div>
              <div>
                <div class="text-truncate">Начало сообщения Начало сообщения</div>
                <div class="small text-gray-500">Федор Федоров · 2 дня</div>
              </div>
              </a> <a class="dropdown-item d-flex align-items-center" href="#">
              <div class="dropdown-list-image mr-3"> <img class="rounded-circle" src="{% static 'img/avatar3.png' %}" alt="">
                <div class="status-indicator bg-success"></div>
              </div>
              <div>
                <div class="text-truncate">Начало сообщения Начало сообщения Начало сообщения </div>
                <div class="small text-gray-500">Семен Семенов · 3 дня</div>
              </div>
              </a> <a class="dropdown-item text-center small text-gray-500" href="#">Читать больше сообщений</a>
            </div>
          </li>
          <div class="topbar-divider d-none d-sm-block"></div>
          
          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow"> <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="mr-2 d-none d-lg-inline text-gray-600 small">
              {% if user.is_authenticated %}
                {{ user.first_name }} {{ user.last_name }}
              {% else %}
                  пользователь
              {% endif %}
          </span> <img class="img-profile rounded-circle" src="{% static 'img/userpic1.png' %}"> </a> 
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
              <a class="dropdown-item" href="/admin/auth/user/{{ request.user.id }}"> <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Профиль </a>
              <a class="dropdown-item" href="/admin/auth/user/{{ request.user.id }}"> <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Настройки </a>
              <a class="dropdown-item" href="#"> <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i> Активность </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"> <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Выйти </a>
            </div>
          </li>
        </ul>
      </nav>
      <!-- End of Topbar --> 
      
      <!-- Begin Page Content -->
      <div class="container-fluid">
        {% block content %} 
        <h1 class="h3 mb-4 text-gray-800">Страница</h1>
        {% endblock %}
      </div>
      <!-- /.container-fluid --> 
      
    </div>
    <!-- End of Main Content --> 
    
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto"> <span>Команда &laquo;Счетка&raquo; для Urban.Tech Moscow 2019</span> </div>
      </div>
    </footer>
    <!-- End of Footer --> 
    
  </div>
  <!-- End of Content Wrapper --> 
  
</div>
<!-- End of Page Wrapper --> 

<!-- Scroll to Top Button--> 
<a class="scroll-to-top rounded" href="#page-top"> <i class="fas fa-angle-up"></i> </a> 

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Выйти из системы?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
      </div>
      <div class="modal-body">Выберите «Выход из системы» ниже, если вы готовы завершить текущий сеанс.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Отмена</button>
        <a class="btn btn-primary" href="/admin/logout/?next=/">Выход из системы</a> </div>
    </div>
  </div>
</div>

{% block core_scripts %}
<!-- Bootstrap core JavaScript--> 
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script> 
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script> 

<!-- Core plugin JavaScript--> 
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js"' %}></script> 
{% endblock %}

<!-- Custom scripts for all pages-->
{% block custom_scripts %}
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>
{% endblock %}
</body>
</html>
