{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
	{% block head %}
	{% block meta %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	{% endblock %}

	<title>{% block title %}Вход{% endblock %} | МосБюджет</title>
	{% block link %}
	<link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
	<!-- Custom fonts for this template-->
	<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'fonts/stylesheet.css' %}" rel="stylesheet">

	<!-- Owl -->
	<link rel="stylesheet" href="{% static 'owl/owlcarousel/assets/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'owl/owlcarousel/assets/owl.theme.default.min.css' %}">
	{% endblock %}

	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]--> 

	<script src="{% static 'owl/vendors/jquery.min.js' %}"></script> 
	<script src="{% static 'owl/owlcarousel/owl.carousel.js' %}"></script> 

	<!-- Custom styles for this template-->
	<link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
	{% endblock %}
</head>

<body class="bg-gradient-primary">
<div style="width:100%; background: url({% static 'img/login-bg.svg' %}) top center no-repeat; max-width:1600px; margin:0 auto;">
  <div class="container">
    <div class="row  justify-content-center" style="padding-top:30px;">
      <div class="col-xl-8 col-lg-8 pr-5"  style="margin:0 auto;"> <img src="{% static 'img/intro-img1.svg' %}" alt="" />
        <div class="my-5" style="color:#cccccc; font-size:1.7rem; line-height:2.4rem;">Наш продукт заменит слабые звенья <br>в цепи ваших сильных решений!</div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-8  card o-hidden border-0 shadow-lg my-1">
        <div class="p-4">
          <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Добро пожаловать!</h1>
		  </div>
		  
		  <form class="user" method="POST">
			{% csrf_token %}
            <div class="form-group">
              <input name="username" type="text" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Логин">
            </div>
            <div class="form-group">
              <input name="password" type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Пароль">
            </div>
            <div class="form-group">
              <div class="custom-control custom-checkbox small">
                <input type="checkbox" class="custom-control-input" id="customCheck">
                <label class="custom-control-label" for="customCheck">Запомнить меня</label>
              </div>
			</div>
			<button type="submit" class="btn btn-primary btn-user btn-block"> Вход </button>
            <!-- <a href="/login" class="btn btn-primary btn-user btn-block"> Вход </a> -->
          </form>
          <!-- <div class="text-center my-2"> <a class="small" href="forgot-password.html">Забыли пароль?</a> </div> -->
          <!-- <div class="text-center"> <a class="small" href="register.html">Заявка на регистрацию</a> </div> -->
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 py-4"> <img src="{% static 'img/intro-img2.svg' %}" alt="" /> </div>
    </div>
    
    <div class="row">
      <div class="col-xl-12"> 
	  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1197 216" style="enable-background:new 0 0 1197 216;" xml:space="preserve">
<style type="text/css">
	.st0{opacity:0.2;fill:#29ABE2;}
	.st1{opacity:0.2;fill:#39B54A;}
	.st2{opacity:0.2;fill:#D9E021;stroke:#D9E021;stroke-miterlimit:10;}
	.st3{opacity:0.2;fill:#9883BF;}
	.st4{opacity:0.2;fill:#1FCEC7;}
	.st5{fill:#F2F2F2;stroke:#C1272D;stroke-miterlimit:10;}
	.st6{fill:#54368C;stroke:#54368C;stroke-miterlimit:10;}
	.st7{opacity:0.7;fill:#54368C;stroke:#54368C;stroke-miterlimit:10;}
	.st8{fill:none;stroke:#F2F2F2;stroke-miterlimit:10;}
	.st9{fill:#F2F2F2;}
	.st10{font-family: sans-serif;}
	.st11{font-size:12px;}
	.st12{font-size:40px;}
	.st13{font-size:26px;}
	.st14{fill:none;stroke:#B3B3B3;stroke-miterlimit:10;}
	.st15{opacity:0.8;fill:#1FCEC7;stroke:#1FCEC7;stroke-miterlimit:10;}
	.st16{opacity:0.8;fill:#D9E021;stroke:#D9E021;stroke-miterlimit:10;}
	.st17{opacity:0.8;fill:#39B54A;stroke:#39B54A;stroke-miterlimit:10;}
	.st18{opacity:0.8;fill:#29ABE2;stroke:#29ABE2;stroke-miterlimit:10;}
	.st19{opacity:0.8;fill:#9883BF;stroke:#9883BF;stroke-miterlimit:10;}
	.st20{opacity:0.7;fill:#1FCEC7;stroke:#1FCEC7;stroke-miterlimit:10;}
	.st21{opacity:0.7;fill:#D9E021;stroke:#D9E021;stroke-miterlimit:10;}
	.st22{opacity:0.7;fill:#9883BF;stroke:#9883BF;stroke-miterlimit:10;}
	.st23{opacity:0.7;fill:#39B54A;stroke:#39B54A;stroke-miterlimit:10;}
	.st24{opacity:0.7;fill:#29ABE2;stroke:#29ABE2;stroke-miterlimit:10;}
	.st25{fill:#C1272D;}
	.st26{font-family: sans-serif; font-weight:bold;}
	.st27{font-size:16px;}
	.st28{fill:#B3B3B3;stroke:#C1272D;stroke-miterlimit:10;}
	.st29{font-size:10px;}
	.st30{fill:#B3B3B3;}
	.st31{font-size:9px;}
	.st32{font-size:14px;}
</style>
<g>
	<polygon class="st0" points="828,216 855,171 873,171 873,153 855,153 828,189 	"/>
	<polygon class="st1" points="828,162 855,135 873,135 873,117 855,117 828,135 	"/>
	<polygon class="st2" points="828,189 855,153 873,153 873,135 855,135 828,162 	"/>
	<polygon class="st3" points="828,108 855,99 873,99 873,117 855,117 828,135 	"/>
	<polygon class="st4" points="828,108 855,99 873,99 873,81 855,81 828,81 	"/>
	<polygon class="st0" points="369,189 396,189 396,216 369,216 342,171 342,153 	"/>
	<polygon class="st1" points="369,162 342,135 342,117 369,135 396,135 396,162 	"/>
	<polygon class="st2" points="369,189 342,153 342,135 369,162 396,162 396,189 	"/>
	<polygon class="st3" points="369,108 342,99 342,117 369,135 396,135 396,108 	"/>
	<polygon class="st4" points="369,108 342,99 342,81 369,81 396,81 396,108 	"/>
	<path class="st5" d="M396,108h-13.5c-7.46,0-13.5-6.04-13.5-13.5v0c0-7.46,6.04-13.5,13.5-13.5H396V108z"/>
	<path class="st5" d="M396,135h-13.5c-7.46,0-13.5-6.04-13.5-13.5v0c0-7.46,6.04-13.5,13.5-13.5H396V135z"/>
	<path class="st5" d="M396,162h-13.5c-7.46,0-13.5-6.04-13.5-13.5v0c0-7.46,6.04-13.5,13.5-13.5H396V162z"/>
	<path class="st5" d="M396,189h-13.5c-7.46,0-13.5-6.04-13.5-13.5v0c0-7.46,6.04-13.5,13.5-13.5H396V189z"/>
	<path class="st5" d="M396,216h-13.5c-7.46,0-13.5-6.04-13.5-13.5v0c0-7.46,6.04-13.5,13.5-13.5H396V216z"/>
	<path class="st6" d="M828,54H396v0c0-29.82,24.18-54,54-54h324C803.82,0,828,24.18,828,54L828,54z"/>
	<path class="st7" d="M1197,63H873v0c0-19.88,16.12-36,36-36h252C1180.88,27,1197,43.12,1197,63L1197,63z"/>
	<rect x="396" y="54" class="st8" width="36" height="27"/>
	<rect x="432" y="54" class="st8" width="36" height="27"/>
	<rect x="468" y="54" class="st8" width="36" height="27"/>
	<rect x="504" y="54" class="st8" width="36" height="27"/>
	<rect x="540" y="54" class="st8" width="36" height="27"/>
	<rect x="576" y="54" class="st8" width="36" height="27"/>
	<rect x="612" y="54" class="st8" width="36" height="27"/>
	<rect x="648" y="54" class="st8" width="36" height="27"/>
	<rect x="684" y="54" class="st8" width="36" height="27"/>
	<rect x="720" y="54" class="st8" width="36" height="27"/>
	<rect x="756" y="54" class="st8" width="36" height="27"/>
	<rect x="792" y="54" class="st8" width="36" height="27"/>
	<rect x="396" y="81" class="st8" width="36" height="27"/>
	<rect x="432" y="81" class="st8" width="36" height="27"/>
	<rect x="468" y="81" class="st8" width="36" height="27"/>
	<rect x="504" y="81" class="st8" width="36" height="27"/>
	<rect x="540" y="81" class="st8" width="36" height="27"/>
	<rect x="576" y="81" class="st8" width="36" height="27"/>
	<rect x="612" y="81" class="st8" width="36" height="27"/>
	<rect x="648" y="81" class="st8" width="36" height="27"/>
	<rect x="684" y="81" class="st8" width="36" height="27"/>
	<rect x="720" y="81" class="st8" width="36" height="27"/>
	<rect x="756" y="81" class="st8" width="36" height="27"/>
	<rect x="792" y="81" class="st8" width="36" height="27"/>
	<rect x="396" y="108" class="st8" width="36" height="27"/>
	<rect x="432" y="108" class="st8" width="36" height="27"/>
	<rect x="468" y="108" class="st8" width="36" height="27"/>
	<rect x="504" y="108" class="st8" width="36" height="27"/>
	<rect x="540" y="108" class="st8" width="36" height="27"/>
	<rect x="576" y="108" class="st8" width="36" height="27"/>
	<rect x="612" y="108" class="st8" width="36" height="27"/>
	<rect x="648" y="108" class="st8" width="36" height="27"/>
	<rect x="684" y="108" class="st8" width="36" height="27"/>
	<rect x="720" y="108" class="st8" width="36" height="27"/>
	<rect x="756" y="108" class="st8" width="36" height="27"/>
	<rect x="792" y="108" class="st8" width="36" height="27"/>
	<rect x="396" y="135" class="st8" width="36" height="27"/>
	<rect x="432" y="135" class="st8" width="36" height="27"/>
	<rect x="468" y="135" class="st8" width="36" height="27"/>
	<rect x="504" y="135" class="st8" width="36" height="27"/>
	<rect x="540" y="135" class="st8" width="36" height="27"/>
	<rect x="576" y="135" class="st8" width="36" height="27"/>
	<rect x="612" y="135" class="st8" width="36" height="27"/>
	<rect x="648" y="135" class="st8" width="36" height="27"/>
	<rect x="684" y="135" class="st8" width="36" height="27"/>
	<rect x="720" y="135" class="st8" width="36" height="27"/>
	<rect x="756" y="135" class="st8" width="36" height="27"/>
	<rect x="792" y="135" class="st8" width="36" height="27"/>
	<rect x="396" y="162" class="st8" width="36" height="27"/>
	<rect x="432" y="162" class="st8" width="36" height="27"/>
	<rect x="468" y="162" class="st8" width="36" height="27"/>
	<rect x="504" y="162" class="st8" width="36" height="27"/>
	<rect x="540" y="162" class="st8" width="36" height="27"/>
	<rect x="576" y="162" class="st8" width="36" height="27"/>
	<rect x="612" y="162" class="st8" width="36" height="27"/>
	<rect x="648" y="162" class="st8" width="36" height="27"/>
	<rect x="684" y="162" class="st8" width="36" height="27"/>
	<rect x="720" y="162" class="st8" width="36" height="27"/>
	<rect x="756" y="162" class="st8" width="36" height="27"/>
	<rect x="792" y="162" class="st8" width="36" height="27"/>
	<rect x="396" y="189" class="st8" width="36" height="27"/>
	<rect x="432" y="189" class="st8" width="36" height="27"/>
	<rect x="468" y="189" class="st8" width="36" height="27"/>
	<rect x="504" y="189" class="st8" width="36" height="27"/>
	<rect x="540" y="189" class="st8" width="36" height="27"/>
	<rect x="576" y="189" class="st8" width="36" height="27"/>
	<rect x="612" y="189" class="st8" width="36" height="27"/>
	<rect x="648" y="189" class="st8" width="36" height="27"/>
	<rect x="684" y="189" class="st8" width="36" height="27"/>
	<rect x="720" y="189" class="st8" width="36" height="27"/>
	<rect x="756" y="189" class="st8" width="36" height="27"/>
	<rect x="792" y="189" class="st8" width="36" height="27"/>
	<text transform="matrix(1 0 0 1 472.998 72)" class="st9 st10 st11">МАР</text>
	<text transform="matrix(1 0 0 1 509.7505 72)"><tspan x="0" y="0" class="st9 st10 st11">А</tspan><tspan x="7.87" y="0" class="st9 st10 st11">ПР</tspan></text>
	<text transform="matrix(1 0 0 1 544.687 72)" class="st9 st10 st11">МАЙ</text>
	<text transform="matrix(1 0 0 1 579.2925 72)" class="st9 st10 st11">ИЮН</text>
	<text transform="matrix(1 0 0 1 615.9521 72)"><tspan x="0" y="0" class="st9 st10 st11">И</tspan><tspan x="8.63" y="0" class="st9 st10 st11">Ю</tspan><tspan x="20.22" y="0" class="st9 st10 st11">Л</tspan></text>
	<text transform="matrix(1 0 0 1 654.7471 72)" class="st9 st10 st11">АВГ</text>
	<text transform="matrix(1 0 0 1 689.3315 72)" class="st9 st10 st11">СЕН</text>
	<text transform="matrix(1 0 0 1 726.1724 72)" class="st9 st10 st11">ОКТ</text>
	<text transform="matrix(1 0 0 1 760.7925 72)"><tspan x="0" y="0" class="st9 st10 st11">Н</tspan><tspan x="8.67" y="0" class="st9 st10 st11">О</tspan><tspan x="17.75" y="0" class="st9 st10 st11">Я</tspan></text>
	<text transform="matrix(1 0 0 1 798.439 72)" class="st9 st10 st11">ДЕК</text>
	<text transform="matrix(1 0 0 1 567.5073 41.0117)" class="st9 st10 st12">2019</text>
	<text transform="matrix(1 0 0 1 1006.0796 54)" class="st9 st10 st13">2020</text>
	<rect x="873" y="153" class="st14" width="27" height="18"/>
	<rect x="873" y="135" class="st14" width="27" height="18"/>
	<rect x="873" y="117" class="st14" width="27" height="18"/>
	<rect x="873" y="99" class="st14" width="27" height="18"/>
	<rect x="873" y="81" class="st14" width="27" height="18"/>
	<rect x="873" y="63" class="st14" width="27" height="18"/>
	<rect x="900" y="153" class="st14" width="27" height="18"/>
	<rect x="900" y="135" class="st14" width="27" height="18"/>
	<rect x="900" y="117" class="st14" width="27" height="18"/>
	<rect x="900" y="99" class="st14" width="27" height="18"/>
	<rect x="900" y="81" class="st14" width="27" height="18"/>
	<rect x="900" y="63" class="st14" width="27" height="18"/>
	<rect x="927" y="153" class="st14" width="27" height="18"/>
	<rect x="927" y="135" class="st14" width="27" height="18"/>
	<rect x="927" y="117" class="st14" width="27" height="18"/>
	<rect x="927" y="99" class="st14" width="27" height="18"/>
	<rect x="927" y="81" class="st14" width="27" height="18"/>
	<rect x="927" y="63" class="st14" width="27" height="18"/>
	<rect x="954" y="153" class="st14" width="27" height="18"/>
	<rect x="954" y="135" class="st14" width="27" height="18"/>
	<rect x="954" y="117" class="st14" width="27" height="18"/>
	<rect x="954" y="99" class="st14" width="27" height="18"/>
	<rect x="954" y="81" class="st14" width="27" height="18"/>
	<rect x="954" y="63" class="st14" width="27" height="18"/>
	<rect x="981" y="153" class="st14" width="27" height="18"/>
	<rect x="981" y="135" class="st14" width="27" height="18"/>
	<rect x="981" y="117" class="st14" width="27" height="18"/>
	<rect x="981" y="99" class="st14" width="27" height="18"/>
	<rect x="981" y="81" class="st14" width="27" height="18"/>
	<rect x="981" y="63" class="st14" width="27" height="18"/>
	<rect x="1008" y="153" class="st14" width="27" height="18"/>
	<rect x="1008" y="135" class="st14" width="27" height="18"/>
	<rect x="1008" y="117" class="st14" width="27" height="18"/>
	<rect x="1008" y="99" class="st14" width="27" height="18"/>
	<rect x="1008" y="81" class="st14" width="27" height="18"/>
	<rect x="1008" y="63" class="st14" width="27" height="18"/>
	<rect x="1035" y="153" class="st14" width="27" height="18"/>
	<rect x="1035" y="135" class="st14" width="27" height="18"/>
	<rect x="1035" y="117" class="st14" width="27" height="18"/>
	<rect x="1035" y="99" class="st14" width="27" height="18"/>
	<rect x="1035" y="81" class="st14" width="27" height="18"/>
	<rect x="1035" y="63" class="st14" width="27" height="18"/>
	<rect x="1062" y="153" class="st14" width="27" height="18"/>
	<rect x="1062" y="135" class="st14" width="27" height="18"/>
	<rect x="1062" y="117" class="st14" width="27" height="18"/>
	<rect x="1062" y="99" class="st14" width="27" height="18"/>
	<rect x="1062" y="81" class="st14" width="27" height="18"/>
	<rect x="1062" y="63" class="st14" width="27" height="18"/>
	<rect x="1089" y="153" class="st14" width="27" height="18"/>
	<rect x="1089" y="135" class="st14" width="27" height="18"/>
	<rect x="1089" y="117" class="st14" width="27" height="18"/>
	<rect x="1089" y="99" class="st14" width="27" height="18"/>
	<rect x="1089" y="81" class="st14" width="27" height="18"/>
	<rect x="1089" y="63" class="st14" width="27" height="18"/>
	<rect x="1116" y="153" class="st14" width="27" height="18"/>
	<rect x="1116" y="135" class="st14" width="27" height="18"/>
	<rect x="1116" y="117" class="st14" width="27" height="18"/>
	<rect x="1116" y="99" class="st14" width="27" height="18"/>
	<rect x="1116" y="81" class="st14" width="27" height="18"/>
	<rect x="1116" y="63" class="st14" width="27" height="18"/>
	<rect x="1143" y="153" class="st14" width="27" height="18"/>
	<rect x="1143" y="135" class="st14" width="27" height="18"/>
	<rect x="1143" y="117" class="st14" width="27" height="18"/>
	<rect x="1143" y="99" class="st14" width="27" height="18"/>
	<rect x="1143" y="81" class="st14" width="27" height="18"/>
	<rect x="1143" y="63" class="st14" width="27" height="18"/>
	<rect x="1170" y="153" class="st14" width="27" height="18"/>
	<rect x="1170" y="135" class="st14" width="27" height="18"/>
	<rect x="1170" y="117" class="st14" width="27" height="18"/>
	<rect x="1170" y="99" class="st14" width="27" height="18"/>
	<rect x="1170" y="81" class="st14" width="27" height="18"/>
	<rect x="1170" y="63" class="st14" width="27" height="18"/>
	<a href="#etap1"><rect x="396" y="81" class="st15" width="324" height="27"/></a>
	<a href="#etap4"><rect x="504" y="162" class="st16" width="216" height="27"/></a>
	<a href="#etap3"><rect x="396" y="135" class="st17" width="432" height="27"/></a>
	<a href="#etap5"><rect x="396" y="189" class="st18" width="324" height="27"/></a>
	<a href="#etap2"><rect x="720" y="108" class="st19" width="108" height="27"/></a>
	<a href="#etap1"><rect x="873" y="81" class="st20" width="243" height="18"/></a>
	<rect x="954" y="135" class="st21" width="162" height="18"/>
	<rect x="1116" y="99" class="st22" width="81" height="18"/>
	<rect x="873" y="117" class="st23" width="324" height="18"/>
	<a href="#etap5"><rect x="873" y="153" class="st24" width="243" height="18"/></a>
	<text transform="matrix(1 0 0 1 401.3317 72.0002)" class="st9 st10 st11">ЯНВ</text>
	<text transform="matrix(1 0 0 1 382.4465 100.611)" class="st25 st26 st27">I</text>
	<text transform="matrix(1 0 0 1 380.2238 127.611)" class="st25 st26 st27">II</text>
	<text transform="matrix(1 0 0 1 378.0012 154.611)" class="st25 st26 st27">III</text>
	<text transform="matrix(1 0 0 1 377.1105 181.611)" class="st25 st26 st27">IV</text>
	<text transform="matrix(1 0 0 1 379.3332 208.611)" class="st25 st26 st27">V</text>
	<path class="st28" d="M18,99H9c-4.97,0-9-4.03-9-9v0c0-4.97,4.03-9,9-9h9V99z"/>
	<path class="st28" d="M18,117H9c-4.97,0-9-4.03-9-9v0c0-4.97,4.03-9,9-9h9V117z"/>
	<path class="st28" d="M18,135H9c-4.97,0-9-4.03-9-9v0c0-4.97,4.03-9,9-9h9V135z"/>
	<path class="st28" d="M18,153H9c-4.97,0-9-4.03-9-9v0c0-4.97,4.03-9,9-9h9V153z"/>
	<path class="st28" d="M18,171H9c-4.97,0-9-4.03-9-9v0c0-4.97,4.03-9,9-9h9V171z"/>
	<text transform="matrix(1 0 0 1 9.0571 94.0742)" class="st25 st26 st29">I</text>
	<text transform="matrix(1 0 0 1 7.668 112.0742)" class="st25 st26 st29">II</text>
	<text transform="matrix(1 0 0 1 6.2788 130.0737)" class="st25 st26 st29">III</text>
	<text transform="matrix(1 0 0 1 5.7222 148.0742)" class="st25 st26 st29">IV</text>
	<text transform="matrix(1 0 0 1 7.1113 166.0742)" class="st25 st26 st29">V</text>
	<path class="st28" d="M873,99h-9c-4.97,0-9-4.03-9-9v0c0-4.97,4.03-9,9-9h9V99z"/>
	<path class="st28" d="M873,117h-9c-4.97,0-9-4.03-9-9v0c0-4.97,4.03-9,9-9h9V117z"/>
	<path class="st28" d="M873,135h-9c-4.97,0-9-4.03-9-9v0c0-4.97,4.03-9,9-9h9V135z"/>
	<path class="st28" d="M873,153h-9c-4.97,0-9-4.03-9-9v0c0-4.97,4.03-9,9-9h9V153z"/>
	<path class="st28" d="M873,171h-9c-4.97,0-9-4.03-9-9v0c0-4.97,4.03-9,9-9h9V171z"/>
	<text transform="matrix(1 0 0 1 864.0571 94.0742)" class="st25 st26 st29">I</text>
	<text transform="matrix(1 0 0 1 862.668 112.0742)" class="st25 st26 st29">II</text>
	<text transform="matrix(1 0 0 1 861.2788 130.0737)" class="st25 st26 st29">III</text>
	<text transform="matrix(1 0 0 1 860.7222 148.0742)" class="st25 st26 st29">IV</text>
	<text transform="matrix(1 0 0 1 862.1113 166.0742)" class="st25 st26 st29">V</text>
	<text transform="matrix(1 0 0 1 437.4343 72.0002)" class="st9 st10 st11">ФЕВ</text>
	<text transform="matrix(1 0 0 1 930.7485 74.4004)" class="st30 st10 st31">МАР</text>
	<text transform="matrix(1 0 0 1 958.3188 74.4004)"><tspan x="0" y="0" class="st30 st10 st31">А</tspan><tspan x="5.9" y="0" class="st30 st10 st31">ПР</tspan></text>
	<text transform="matrix(1 0 0 1 984.5151 74.5342)" class="st30 st10 st31">МАЙ</text>
	<text transform="matrix(1 0 0 1 1010.4702 74.4004)" class="st30 st10 st31">ИЮН</text>
	<text transform="matrix(1 0 0 1 1037.9644 74.4004)"><tspan x="0" y="0" class="st30 st10 st31">И</tspan><tspan x="6.47" y="0" class="st30 st10 st31">Ю</tspan><tspan x="15.17" y="0" class="st30 st10 st31">Л</tspan></text>
	<text transform="matrix(1 0 0 1 1067.0649 74.4004)" class="st30 st10 st31">АВГ</text>
	<text transform="matrix(1 0 0 1 1092.9995 74.4004)" class="st30 st10 st31">СЕН</text>
	<text transform="matrix(1 0 0 1 1120.6304 74.4004)" class="st30 st10 st31">ОКТ</text>
	<text transform="matrix(1 0 0 1 1146.5952 74.4004)"><tspan x="0" y="0" class="st30 st10 st31">Н</tspan><tspan x="6.5" y="0" class="st30 st10 st31">О</tspan><tspan x="13.31" y="0" class="st30 st10 st31">Я</tspan></text>
	<text transform="matrix(1 0 0 1 1174.8296 74.4004)" class="st30 st10 st31">ДЕК</text>
	<text transform="matrix(1 0 0 1 876.9987 74.4005)" class="st30 st10 st31">ЯНВ</text>
	<text transform="matrix(1 0 0 1 904.0759 74.4005)" class="st30 st10 st31">ФЕВ</text>
	<text transform="matrix(1 0 0 1 522.9622 100.2341)" class="st9 st10 st32">2020–2022</text>
	<text transform="matrix(1 0 0 1 964.4676 94.2009)" class="st9 st10 st11">2021–2023</text>
	<text transform="matrix(1 0 0 1 738.9627 127.2341)" class="st9 st10 st32">2020–2022</text>
	<text transform="matrix(1 0 0 1 596.428 154)" class="st9 st10 st32">2019</text>
	<text transform="matrix(1 0 0 1 542.4276 208.0001)" class="st9 st10 st32">2019</text>
	<text transform="matrix(1 0 0 1 596.428 180.9998)" class="st9 st10 st32">2018</text>
	<text transform="matrix(1 0 0 1 1126.4679 112.2009)" class="st9 st10 st11">2021–2023</text>
	<text transform="matrix(1 0 0 1 981.1525 166.2005)" class="st9 st10 st11">2020</text>
	<text transform="matrix(1 0 0 1 1021.6525 130.2005)" class="st9 st10 st11">2020</text>
	<text transform="matrix(1 0 0 1 1021.6525 148.2005)" class="st9 st10 st11">2019</text>
	<path class="st7" d="M342,63H18v0c0-19.88,16.12-36,36-36h252C325.88,27,342,43.12,342,63L342,63z"/>
	<text transform="matrix(1 0 0 1 151.0796 54)" class="st9 st10 st13">2018</text>
	<rect x="18" y="153" class="st14" width="27" height="18"/>
	<rect x="18" y="135" class="st14" width="27" height="18"/>
	<rect x="18" y="117" class="st14" width="27" height="18"/>
	<rect x="18" y="99" class="st14" width="27" height="18"/>
	<rect x="18" y="81" class="st14" width="27" height="18"/>
	<rect x="18" y="63" class="st14" width="27" height="18"/>
	<rect x="45" y="153" class="st14" width="27" height="18"/>
	<rect x="45" y="135" class="st14" width="27" height="18"/>
	<rect x="45" y="117" class="st14" width="27" height="18"/>
	<rect x="45" y="99" class="st14" width="27" height="18"/>
	<rect x="45" y="81" class="st14" width="27" height="18"/>
	<rect x="45" y="63" class="st14" width="27" height="18"/>
	<rect x="72" y="153" class="st14" width="27" height="18"/>
	<rect x="72" y="135" class="st14" width="27" height="18"/>
	<rect x="72" y="117" class="st14" width="27" height="18"/>
	<rect x="72" y="99" class="st14" width="27" height="18"/>
	<rect x="72" y="81" class="st14" width="27" height="18"/>
	<rect x="72" y="63" class="st14" width="27" height="18"/>
	<rect x="99" y="153" class="st14" width="27" height="18"/>
	<rect x="99" y="135" class="st14" width="27" height="18"/>
	<rect x="99" y="117" class="st14" width="27" height="18"/>
	<rect x="99" y="99" class="st14" width="27" height="18"/>
	<rect x="99" y="81" class="st14" width="27" height="18"/>
	<rect x="99" y="63" class="st14" width="27" height="18"/>
	<rect x="126" y="153" class="st14" width="27" height="18"/>
	<rect x="126" y="135" class="st14" width="27" height="18"/>
	<rect x="126" y="117" class="st14" width="27" height="18"/>
	<rect x="126" y="99" class="st14" width="27" height="18"/>
	<rect x="126" y="81" class="st14" width="27" height="18"/>
	<rect x="126" y="63" class="st14" width="27" height="18"/>
	<rect x="153" y="153" class="st14" width="27" height="18"/>
	<rect x="153" y="135" class="st14" width="27" height="18"/>
	<rect x="153" y="117" class="st14" width="27" height="18"/>
	<rect x="153" y="99" class="st14" width="27" height="18"/>
	<rect x="153" y="81" class="st14" width="27" height="18"/>
	<rect x="153" y="63" class="st14" width="27" height="18"/>
	<rect x="180" y="153" class="st14" width="27" height="18"/>
	<rect x="180" y="135" class="st14" width="27" height="18"/>
	<rect x="180" y="117" class="st14" width="27" height="18"/>
	<rect x="180" y="99" class="st14" width="27" height="18"/>
	<rect x="180" y="81" class="st14" width="27" height="18"/>
	<rect x="180" y="63" class="st14" width="27" height="18"/>
	<rect x="207" y="153" class="st14" width="27" height="18"/>
	<rect x="207" y="135" class="st14" width="27" height="18"/>
	<rect x="207" y="117" class="st14" width="27" height="18"/>
	<rect x="207" y="99" class="st14" width="27" height="18"/>
	<rect x="207" y="81" class="st14" width="27" height="18"/>
	<rect x="207" y="63" class="st14" width="27" height="18"/>
	<rect x="234" y="153" class="st14" width="27" height="18"/>
	<rect x="234" y="135" class="st14" width="27" height="18"/>
	<rect x="234" y="117" class="st14" width="27" height="18"/>
	<rect x="234" y="99" class="st14" width="27" height="18"/>
	<rect x="234" y="81" class="st14" width="27" height="18"/>
	<rect x="234" y="63" class="st14" width="27" height="18"/>
	<rect x="261" y="153" class="st14" width="27" height="18"/>
	<rect x="261" y="135" class="st14" width="27" height="18"/>
	<rect x="261" y="117" class="st14" width="27" height="18"/>
	<rect x="261" y="99" class="st14" width="27" height="18"/>
	<rect x="261" y="81" class="st14" width="27" height="18"/>
	<rect x="261" y="63" class="st14" width="27" height="18"/>
	<rect x="288" y="153" class="st14" width="27" height="18"/>
	<rect x="288" y="135" class="st14" width="27" height="18"/>
	<rect x="288" y="117" class="st14" width="27" height="18"/>
	<rect x="288" y="99" class="st14" width="27" height="18"/>
	<rect x="288" y="81" class="st14" width="27" height="18"/>
	<rect x="288" y="63" class="st14" width="27" height="18"/>
	<rect x="315" y="153" class="st14" width="27" height="18"/>
	<rect x="315" y="135" class="st14" width="27" height="18"/>
	<rect x="315" y="117" class="st14" width="27" height="18"/>
	<rect x="315" y="99" class="st14" width="27" height="18"/>
	<rect x="315" y="81" class="st14" width="27" height="18"/>
	<rect x="315" y="63" class="st14" width="27" height="18"/>
	<a href="#etap1"><rect x="18" y="81" class="st20" width="243" height="18"/></a>
	<rect x="99" y="135" class="st21" width="162" height="18"/>
	<rect x="261" y="99" class="st22" width="81" height="18"/>
	<rect x="18" y="117" class="st23" width="324" height="18"/>
	<a href="#etap5"><rect x="18" y="153" class="st24" width="243" height="18"/></a>
	<text transform="matrix(1 0 0 1 75.7485 74.4004)" class="st30 st10 st31">МАР</text>
	<text transform="matrix(1 0 0 1 103.3188 74.4004)"><tspan x="0" y="0" class="st30 st10 st31">А</tspan><tspan x="5.9" y="0" class="st30 st10 st31">ПР</tspan></text>
	<text transform="matrix(1 0 0 1 129.5151 74.5342)" class="st30 st10 st31">МАЙ</text>
	<text transform="matrix(1 0 0 1 155.4702 74.4004)" class="st30 st10 st31">ИЮН</text>
	<text transform="matrix(1 0 0 1 182.9644 74.4004)"><tspan x="0" y="0" class="st30 st10 st31">И</tspan><tspan x="6.47" y="0" class="st30 st10 st31">Ю</tspan><tspan x="15.17" y="0" class="st30 st10 st31">Л</tspan></text>
	<text transform="matrix(1 0 0 1 212.0649 74.4004)" class="st30 st10 st31">АВГ</text>
	<text transform="matrix(1 0 0 1 237.9995 74.4004)" class="st30 st10 st31">СЕН</text>
	<text transform="matrix(1 0 0 1 265.6304 74.4004)" class="st30 st10 st31">ОКТ</text>
	<text transform="matrix(1 0 0 1 291.5952 74.4004)"><tspan x="0" y="0" class="st30 st10 st31">Н</tspan><tspan x="6.5" y="0" class="st30 st10 st31">О</tspan><tspan x="13.31" y="0" class="st30 st10 st31">Я</tspan></text>
	<text transform="matrix(1 0 0 1 319.8296 74.4004)" class="st30 st10 st31">ДЕК</text>
	<text transform="matrix(1 0 0 1 21.9987 74.4005)" class="st30 st10 st31">ЯНВ</text>
	<text transform="matrix(1 0 0 1 49.0759 74.4005)" class="st30 st10 st31">ФЕВ</text>
	<text transform="matrix(1 0 0 1 109.4676 94.2009)" class="st9 st10 st11">2020–2022</text>
	<text transform="matrix(1 0 0 1 271.4679 112.2009)" class="st9 st10 st11">2020–2022</text>
	<text transform="matrix(1 0 0 1 126.1525 166.2005)" class="st9 st10 st11">2018</text>
	<text transform="matrix(1 0 0 1 166.6525 130.2005)" class="st9 st10 st11">2018</text>
	<text transform="matrix(1 0 0 1 166.6525 148.2005)" class="st9 st10 st11">2017</text>
</g>
</svg> 
	  </div>
    </div>
    
    
    <!-- Outer Row -->
    <div class="row justify-content-center">
      <div class="col-xl-12">
        <h2 class="h3 my-4 text-gray-500"></h2>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-9"> </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="sticky-footer">
  <div class="container my-auto">
    <div class="copyright text-center my-auto"> <span style="color:#d1d3e2">Команда &laquo;Счетка&raquo; для Urban.Tech Moscow 2019</span> </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript--> 
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script> 
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script> 

<!-- Core plugin JavaScript--> 
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script> 

<!-- Custom scripts for all pages--> 
<script src="{% static 'js/sb-admin-2.min.js' %}"></script> 

<!-- vendors --> 
<script src="{% static 'owl/vendors/highlight.js' %}"></script> 
<script src="{% static 'owl/js/app.js' %}"></script>
</body>
</html>
