@font-face {
    font-family: 'PT Sans';
    src: url('PTSans-BoldItalic.eot');
    src: url('PTSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('PTSans-BoldItalic.woff2') format('woff2'),
        url('PTSans-BoldItalic.woff') format('woff'),
        url('PTSans-BoldItalic.ttf') format('truetype'),
        url('PTSans-BoldItalic.svg#PTSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('PTSans-Regular.eot');
    src: url('PTSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('PTSans-Regular.woff2') format('woff2'),
        url('PTSans-Regular.woff') format('woff'),
        url('PTSans-Regular.ttf') format('truetype'),
        url('PTSans-Regular.svg#PTSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('PTSans-Italic.eot');
    src: url('PTSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('PTSans-Italic.woff2') format('woff2'),
        url('PTSans-Italic.woff') format('woff'),
        url('PTSans-Italic.ttf') format('truetype'),
        url('PTSans-Italic.svg#PTSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('PTSans-Bold.eot');
    src: url('PTSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('PTSans-Bold.woff2') format('woff2'),
        url('PTSans-Bold.woff') format('woff'),
        url('PTSans-Bold.ttf') format('truetype'),
        url('PTSans-Bold.svg#PTSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

